
<%- include('../layouts/header.ejs') %>

<body>

    <div class="page-wrapper">

        <%- include('../layouts/navbar-1.ejs') %>

        <main class="main">

            <div class="intro-slider-container">
                <div class="intro-slider owl-carousel owl-simple owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav":false, "dots": false, "loop": false}'>
                    <div class="intro-slide" style="background-image: url(assets/images/urban/aboutPage.jpg);">
                        <div class="container intro-content text-center">
                            <!-- <h3 class="intro-subtitle">Want to know what's hot?</h3>End .h3 intro-subtitle -->
                            <h2 class="text-white">"Chunky sneakers: comfy AND cool, what more could you ask for?"</h2><!-- End .intro-title -->

                            <a href="#scroll-to-content" class="btn btn-outline-primary-2 scroll-to">
                                <span>Start scrolling</span>
                                <i class="icon-long-arrow-down"></i>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader text-white"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->
            
            <div class="display-row" id="scroll-to-content">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-lg-last">
                            <div class="banner banner-overlay" style="border-radius: 20px;">
                                <a href="#">
                                    <img src="assets/images/urban/lv sm-banner.jpg" alt="Banner" style="border-radius: 20px;">
                                </a>

                                <div class="banner-content men">
                                    <h2 class="banner-title text-white">01. 1ACNCZ<br>LV Trainer Maxi <br>Sneaker.</h2><!-- End .banner-title -->
                                    <h3 class="banner-subtitle" style="font-weight: 600; color:#ffffff">IN THIS LOOK</h3><!-- End .banner-subtitle -->

                                    <!-- <h3 class="text-brightblack fw-bold" style="font-size: 20px;">Model : 9060</h3> -->

                                    <!-- <ul class="text-white ">
                                        <p style="font-weight: 600; color: #f2f2f2;">Model : 9060</p>
                                        <li class="text-white ">Translucent CR device at heelz</li>
                                        <li class="text-white ">Diamond outsole pattern inspired by classic 860 design</li>
                            
                                        <p class="text-white pt-2 ">Color: Black with castlerock and rain cloud</p>
                                    </ul> -->

                                    <div class="banner-text text-brightblack" style="font-weight: 500;">Rs:180,000</div><!-- End .banner-text -->

                                    <!-- <a href="#" class="btn btn-outline-primary-2"><span>Buy Now</span><i class="icon-long-arrow-right"></i></a> -->

                                     <div class="d-flex">
                                        <a href="#" class="btn btn-outline-primary-2"><span>Buy Now</span><i class="icon-long-arrow-right"></i></a>
                                        <span href="#" class="btn-product-icon btn-wishlist" style="cursor: pointer; margin-left: 13px; margin-top: 8px;"><span>add to wishlist</span></span>
                                    </div>
                                    
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-6 -->

                        <div class="col-lg-6">
                            <div class="heading text-center">
                                <h2 class="title">1ACNCZ LV Trainer Maxi</h2><!-- End .title text-center -->
                                <p class="title-desc">The 9060 is a new expression of the refined style and innovation-led design that have made the 99X series home to some of the most iconic models in New Balance history.</p><!-- End .title-desc -->
                            </div><!-- End .heading -->

                            <div class="row">
                                <div class="col-lg-8 offset-lg-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="product product-4">
                                                <figure class="product-media" style="border-radius: 10px;">
                                                    <a href="product.html">
                                                        <img src="assets/images/urban/lv1- 1.png" style="border-radius: 10px;"  alt="Product image" class="product-image" >
                                                        <!-- <img src="assets/images/urban/newBalanceShow.png" alt="Product image" class="product-image-hover"> -->
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <!-- <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a> -->
                                                        <!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                                        <!-- <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a> -->
                                                    </div><!-- End .product-action -->

                                                    <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                    </div><!-- End .product-action -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <h3 class="product-title text-center "><a href="product.html">Side View</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        <!-- <span class="new-price">Now $1,298.00</span>
                                                        <span class="old-price">Was $1,400.00</span> -->
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-6">
                                            <div class="product product-4">
                                                <figure class="product-media" style="border-radius: 10px;">
                                                    <a href="product.html">
                                                        <img src="assets/images/urban/lv1 - 3.png" style="border-radius: 10px;"   alt="Product image" class="product-image">
                                                        <!-- <img src="assets/images/urban/newBalanceShow.png" alt="Product image" class="product-image-hover"> -->

                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <!-- <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a> -->
                                                        <!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                                        <!-- <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a> -->
                                                    </div><!-- End .product-action -->

                                                    <div class="product-action">
                                                        <!-- <a href="#" class="btn-product btn-cart"><span>add to cart</span></a> -->
                                                    </div><!-- End .product-action -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <h3 class="product-title text-center "><a href="product.html">Full View</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        <!-- $448.00 -->
                                                    </div><!-- End .product-price -->

                                                    <div class="product-nav product-nav-dots">
                                                        <!-- <a href="#" class="active" style="background: #917f4d;"><span class="sr-only">Color name</span></a>
                                                        <a href="#" style="background: #c55858;"><span class="sr-only">Color name</span></a> -->
                                                    </div><!-- End .product-nav -->
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .col-lg-8 offset-lg-2 -->
                            </div><!-- End .row -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->
            </div><!-- End .display-row -->

            <div class="display-row" style="background-color: #c0c0c0;">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="banner banner-light banner-overlay" style="border-radius: 20px;">
                                <a href="#">
                                    <img src="assets/images/urban/nike sm-banner.jpg" style="border-radius: 20px;" alt="Banner">
                                </a>

                                <div class="banner-content women">
                                    <h2 class="banner-title" style="color: #a58d7f;">02. Fashion-forward feet<br>for a confident you</h2>End .banner-title
                                    <!-- <h3 class="banner-subtitle" style="font-weight: 600; color:#a58d7f;">IN THIS LOOK</h3>End .banner-subtitle -->

                                    <!-- <ul class="text-decoration-none " style="color: #a58d7f; font-weight: 600;">

                                        <p  style="font-weight: 600; color: #a58d7f;">Model : Nike x sacai VaporWaffle</p>
                                        <li>Gold colour earrings</li>
                                        <li>Brown heel mules</li>

                                        <p class="pt-2" style="font-weight: 600; color: #a58d7f;">Color: Black and White</p>

                                    </ul> -->

                                    <!-- <div class="banner-text" style="font-weight: 600; color: #a58d7f;">$19,688</div>End .banner-text -->

                                    <div class="d-flex">
                                        <a href="#" class="btn btn-outline-primary-2" style="color: #a58d7f ; font-weight: 500;"><span>Buy Now</span><i class="icon-long-arrow-right"></i></a>
                                        <span href="#" class="btn-product-icon btn-wishlist" style="cursor: pointer;  margin-left: 13px; margin-top: 8px;"><span>add to wishlist</span></span>
                                    </div>
                                    
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-6 -->

                        <div class="col-lg-6">
                            <div class="heading text-center">
                                <h2 class="title text-white">Air Jordan 1 Low G</h2><!-- End .title text-center -->
                                <p class="title-desc">Feel unbeatable, from the tee box to the final putt. Inspired by one of the most iconic sneakers of all time, the Air Jordan 1 G is an instant classic on the course. With Air cushioning underfoot, a Wings logo on the heel and an integrated traction pattern to help you power through your swing, it delivers all the clubhouse cool of the original AJ1—plus everything you need to play 18 holes in comfort..</p><!-- End .title-desc -->
                            </div><!-- End .heading -->

                            <div class="row">
                                <div class="col-6 col-md-4">
                                    <div class="product product-4">

                                        <figure class="product-media" style="border-radius: 10px;" >

                                            <a href="product.html" >
                                                <img src="assets/images/urban/nike2 -2.jpg" style="border-radius: 10px;"  alt="Product image" class="product-image">
                                                <!-- <img src="assets/images/urban/nikeScaiDemo-1.jpg" alt="Product image" class="product-image-hover"> -->
                                            </a>

                                            <div class="product-action-vertical">
                                                <!-- <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a> -->
                                                <!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                                <!-- <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a> -->
                                            </div><!-- End .product-action -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->

                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title text-center "><a href="product.html">Side View</a></h3><!-- End .product-title -->

                                            <!-- <div class="product-price">
                                                
                                            </div>End .product-price -->

                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 -->

                                <div class="col-6 col-md-4">
                                    <div class="product product-4">
                                        <figure class="product-media" style="border-radius: 10px;" >
                                            <a href="product.html">
                                                <img src="assets/images/urban/nike2 - 2.jpg" style="border-radius: 10px;"  alt="Product image" class="product-image">
                                                <!-- <img src="assets/images/urban/nikeScaiDemo-2.jpg" alt="Product image" class="product-image-hover"> -->
                                            </a>

                                            <div class="product-action-vertical">
                                                <!-- <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a> -->
                                                <!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                                <!-- <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a> -->
                                            </div><!-- End .product-action -->

                                            <div class="product-action">
                                                <!-- <a href="#" class="btn-product btn-cart"><span>add to cart</span></a> -->
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title text-center "><a href="product.html">Top View</a></h3><!-- End .product-title -->

                                            <!-- <div class="product-price">
                                                $20.00
                                            </div>End .product-price -->

                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 -->

                                <div class="col-6 col-md-4">
                                    <div class="product product-4">
                                        <figure class="product-media" style="border-radius: 10px;" >
                                            <a href="product.html">
                                                <img src="assets/images/urban/nike2 - 1.jpg" style="border-radius: 10px;"  alt="Product image" class="product-image">
                                                <!-- <img src="assets/images/urban/nikeScaiDemo-3.jpg" alt="Product image" class="product-image-hover"> -->
                                            </a>

                                            <div class="product-action-vertical">
                                                <!-- <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a> -->
                                                <!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                                <!-- <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a> -->
                                            </div><!-- End .product-action -->

                                            <div class="product-action">
                                                <!-- <a href="#" class="btn-product btn-cart"><span>add to cart</span></a> -->
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title text-center "><a href="product.html">Side View</a></h3><!-- End .product-title -->

                                            <!-- <div class="product-price">
                                                $96.00
                                            </div>End .product-price -->

                                            <!-- <div class="product-nav product-nav-dots">
                                                <a href="#" class="active" style="background: #99523e;"><span class="sr-only">Color name</span></a>
                                                <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                            </div>End .product-nav -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->
            </div><!-- End .display-row .bg-light -->

            <div class="video-banner video-banner-bg video-fullheight bg-image text-center" style="background-image: url(assets/images/urban/women-banner-lg.jpg)">

                <div class="container">

                    <h3 class="video-banner-title h1 text-dark"><span></span>Women's we got you!!!</h3><!-- End .video-banner-title -->

                    <!-- <a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"><i class="icon-play"></i></a> -->

                    <a href="#scroll-to-content" class="btn btn-outline-primary-2 scroll-to">
                        <span>Start scrolling</span>
                        <i class="icon-long-arrow-down"></i>
                    </a>

                </div><!-- End .container -->
                
            </div><!-- End .video-banner bg-image -->

            <div class="display-row" style="background-color: #c0c0c0;">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-lg-last">
                            <div class="banner banner-overlay" style="border-radius: 20px;">
                                <a href="#">
                                    <img src="assets/images/urban/gg women 1.jpg" alt="Banner" style="border-radius: 20px;">
                                </a>

                                <div class="banner-content men">

                                    <h2 class="banner-title" style="color: #828282;">03. WOMEN'S,<br>GG -<br>SNEAKER.</h2><!-- End .banner-title -->

                                    <h3 class="banner-subtitle"  style="font-weight: 600; color:#828282">IN THIS LOOK</h3><!-- End .banner-subtitle -->

                                    <ul class="text-white ">

                                        <p style="font-weight: 500; color: #828282;">Model : Style 670408 AACXG 9059</p>
                                        <!-- <li style="color :#828282; font-weight: 500;">Lace and buckle closure</li>
                                        <li style="color: #828282; font-weight: 500;">Leather upper</li>

                                        <p class="pt-2" style="font-weight: 600; color: #828282;">Color: Black</p> -->


                                    </ul>

                                    <div class="banner-text" style="color: #828282; font-weight: 500;">$940</div><!-- End .banner-text -->

                                    <!-- <a href="#" class="btn btn-outline-primary-2"><span>Buy Now</span><i class="icon-long-arrow-right"></i></a> -->

                                     <div class="d-flex">
                                        <a href="#" class="btn btn-outline-primary-2"><span>Buy Now</span><i class="icon-long-arrow-right"></i></a>
                                        <span href="#" class="btn-product-icon btn-wishlist" style="cursor: pointer;  margin-left: 13px; margin-top: 8px;"><span>add to wishlist</span></span>
                                    </div>

                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-6 -->

                        <div class="col-lg-6">
                            <div class="heading text-center">
                                <h2 class="title text-white ">About This Look</h2><!-- End .title text-center -->
                                <p class="title-desc">First used in the 1970s, the GG logo was an evolution of the original Gucci rhombi design from the 1930s, and from then it's been an established symbol of the House's heritage. Here, the pattern defines this pair of sneakers in gold lamé. Deepening the connection to the brands' heritage, a printed Interlocking G logo appears at the back..</p><!-- End .title-desc -->
                            </div><!-- End .heading -->

                            <div class="row">
                                <div class="col-6 col-md-4">
                                    <div class="product product-4">
                                        <figure class="product-media" style="border-radius: 10px;">
                                            <a href="product.html">
                                                <img src="assets/images/urban/gg women 3.jpg" style="border-radius: 10px;" alt="Product image" class="product-image">
                                                <!-- <img src="assets/images/urban/addidasDemo-1.webp" alt="Product image" class="product-image-hover"> -->
                                            </a>

                                            <div class="product-action-vertical">
                                                <!-- <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a> -->
                                                <!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                                <!-- <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a> -->
                                            </div><!-- End .product-action -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title text-center"><a href="product.html">Side View</a></h3><!-- End .product-title -->
                                            <!-- <div class="product-price">
                                                $165.00
                                            </div>End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 -->

                                <div class="col-6 col-md-4">
                                    <div class="product product-4">
                                        <figure class="product-media" style="border-radius: 10px;">
                                            <a href="product.html">
                                                <img src="assets/images/urban/gg women 2.jpg" style="border-radius: 10px;" alt="Product image" class="product-image">
                                                <!-- <img src="assets/images/urban/addidasDemo-2.webp" alt="Product image" class="product-image-hover"> -->
                                            </a>

                                            <div class="product-action-vertical">
                                                <!-- <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a> -->
                                                <!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                                <!-- <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a> -->
                                            </div><!-- End .product-action -->

                                            <div class="product-action">
                                                <!-- <a href="#" class="btn-product btn-cart"><span>add to cart</span></a> -->
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title text-center "><a href="product.html">Back View</a></h3><!-- End .product-title -->
                                            <!-- <div class="product-price">
                                                $130.00
                                            </div>End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 -->

                                <div class="col-6 col-md-4">
                                    <div class="product product-4">
                                        <figure class="product-media" style="border-radius: 10px;">
                                            <a href="product.html">
                                                <img src="assets/images/urban/gg women 3.jpg" style="border-radius: 10px;"  alt="Product image" class="product-image">
                                                <!-- <img src="assets/images/urban/addidasDemo-3.webp" alt="Product image" class="product-image-hover"> -->
                                            </a>

                                            <div class="product-action-vertical">
                                                <!-- <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a> -->
                                                <!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                                <!-- <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a> -->
                                            </div><!-- End .product-action -->

                                            <div class="product-action">
                                                <!-- <a href="#" class="btn-product btn-cart"><span>add to cart</span></a> -->
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title text-center "><a href="product.html">Angle View</a></h3><!-- End .product-title -->
                                            <!-- <div class="product-price">
                                                $358.00
                                            </div>End .product-price -->

                                            <!-- <div class="product-nav product-nav-dots">
                                                <a href="#" class="active" style="background: #333;"><span class="sr-only">Color name</span></a>
                                                <a href="#" style="background: #c55858;"><span class="sr-only">Color name</span></a>
                                            </div>End .product-nav -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->
            </div><!-- End .display-row .bg-light -->

            <div class="display-row">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="banner banner-light banner-overlay" style="border-radius: 20px;">
                                <a href="#">
                                    <img src="assets/images/urban/lv womens banner sm.jpg" class="h-50 " style="border-radius: 20px;"  alt="Banner">
                                </a>

                                <div class="banner-content women">
                                    <!-- <h2 class="banner-title" style="color: #000000;">04. Chase dreams <br>in shoes as<br>unique as you are.</h2><!-- End .banner-title -->
                                    <!-- <h3 class="banner-subtitle" style="font-weight: 600; color:rgb(0, 0, 0);">IN THIS LOOK</h3>End .banner-subtitle -->

                                    <!-- <ul style="color: rgb(0, 0, 0);">

                                        <p class="" style="color:#000000; font-weight: 500;" >Model : PUMA - Wildleder-Sneaker „Army Trainer“</p>

                                        <li>Leather upper and suede toe</li>
                                        <li>Rubber midsole</li>

                                        <p class="pt-2" style="font-weight: 500; color: rgb(0, 0, 0)">Color: Gold and White</p>


                                    </ul> -->

                                    <!-- <div class="banner-text text-dark " style="font-weight: 600;">$1,110</div>End .banner-text  -->

                                    <!-- <a href="#" class="btn btn-outline-primary-2"><span>Buy All</span><i class="icon-long-arrow-right"></i></a> -->

                                     <div class="d-flex">
                                        <a href="#" class="btn btn-outline-primary-2"><span>Buy Now</span><i class="icon-long-arrow-right"></i></a>
                                        <span href="#" class="btn-product-icon btn-wishlist" style="cursor: pointer;  margin-left: 13px; margin-top: 8px;"><span>add to wishlist</span></span>
                                    </div>

                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-6 -->

                        <div class="col-lg-6">
                            <div class="heading text-center">
                                <h2 class="title">LV Trainer Sneaker</h2><!-- End .title text-center -->
                                <p class="title-desc">Feel unbeatable, from the tee box to the final putt. Inspired by one of the most iconic sneakers of all time, the Air Jordan 1 G is an instant classic on the course. With Air cushioning underfoot, a Wings logo on the heel and an integrated traction pattern to help you power through your swing, it delivers all the clubhouse cool of the original AJ1—plus everything you need to play 18 holes in comfort.</p><!-- End .title-desc -->
                            </div><!-- End .heading -->

                            <div class="row">
                                <div class="col-lg-8 offset-lg-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="product product-4">
                                                <figure class="product-media" style="border-radius: 10px;">
                                                    <a href="product.html">
                                                        <img src="assets/images/urban/lv women 2.png" style="border-radius: 10px;" alt="Product image" class="product-image" style="border-radius: 10px;">
                                                        <!-- <img src="assets/images/urban/PumaDemo-2.png" alt="Product image" class="product-image-hover" style="border-radius: 20px;"> -->
                                                    </a>

                                                    <!-- <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                        <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                                    </div>End .product-action -->

                                                    <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                    </div><!-- End .product-action -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">

                                                    <h3 class="product-title text-center "><a href="product.html">Side View</a></h3><!-- End .product-title -->

                                                    <!-- <div class="product-price">
                                                        $120.00
                                                    </div>End .product-price -->

                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-6">
                                            <div class="product product-4">
                                                <figure class="product-media" style="border-radius: 10px;">
                                                    <a href="product.html">
                                                        <img src="assets/images/urban/lv women 1.png" style="border-radius: 10px;" alt="Product image" class="product-image" style="border-radius: 10px;">
                                                        <!-- <img src="assets/images/urban/pumaDemo-1.png" alt="Product image" class="product-image-hover" style="border-radius: 10px;"> -->
                                                    </a>

                                                    <!-- <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                        <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                                    </div>End .product-action -->

                                                    <!-- <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                    </div>End .product-action -->

                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <h3 class="product-title text-center "><a href="product.html">Top View</a></h3><!-- End .product-title -->

                                                    <!-- <div class="product-price">
                                                        $36.00
                                                    </div>End .product-price -->
                                                    
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .col-lg-8 offset-lg-2 -->
                            </div><!-- End .row -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->
            </div><!-- End .display-row -->

            <div class="mb-2"></div><!-- End .mb-2 -->

            <div class="video-banner video-banner-bg video-fullheight bg-image text-center" style="background-image: url(assets/images/urban/nike-kids1.jpg)">

                <div class="container">

                    <h3 class="video-banner-title h1 text-white"><span>Kids need trend</span></h3><!-- End .video-banner-title -->

                    <!-- <a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"><i class="icon-play"></i></a> -->

                    <a href="#scroll-to-content" class="btn btn-outline-primary-2 scroll-to">
                        <span>Discover more</span>
                        <i class="icon-long-arrow-down"></i>
                    </a>

                </div><!-- End .container -->

            <div class="mb-7"></div> <!--End .mb-7 -->

        </main><!-- End .main -->

        <!-- Connect Footer -->
        <%- include('../layouts/footbar-1.ejs') %>
        <!---->

    </div><!-- End .page-wrapper -->
    
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Connect Mobile View -->
    <%- include('../layouts/mobileView.ejs') %>
    <!---->


    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/demos/demo-15.js"></script>
</body>

<%- include('../layouts/footer.ejs') %>