<%- include('../layouts/header.ejs') %>

<div class="page-wrapper">
	
	<%- include('../layouts/navbar-1.ejs') %>


    <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/urban/allProducts.jpeg')">
        		<div class="container">
        			<h1 class="page-title text-white ">Wishlist<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <!-- <li class="breadcrumb-item"><a href="#">Shop</a></li> -->
                        <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="container">
					<table class="table table-wishlist table-mobile">
						
						<% 
							if (locals.wishlistData.length != 0) {

								%>

											<thead>
												<tr>
													<th>Product</th>
													<th>Images</th>

													<th>Price</th>
													<th>Stock Status</th>
													<th></th>
													<th></th>
												</tr>
											</thead>

								<%
								for (let i = 0; i < wishlistData.length; i++) {
							%>
									
										
									<tbody>
										<tr>
											<td class="product-col">
												<span><%= wishlistData[i].productName %></span>
											</td>
											<td><img src="/productImage/<%= wishlistData[i].productImage[0] %>" alt="product image" style="width:75px; height:75px;"></td>
											<td class="price-col">$<%= wishlistData[i].price %></td>
											<td class="stock-col"><span class="in-stock"><%= wishlistData[i].quantity %></span></td>
											<td class="action-col">
												<button class="btn btn-block btn-outline-primary-2"><i class="icon-cart-plus"></i>Order Now !!!</button>
											</td>
											<td class="remove-col"><button class="btn-remove" onclick="removeFromWishlist('<%= wishlistData[i]._id %>')"><i class="icon-close"></i></button></td>
										</tr>
									</tbody>
							<%
								}
							} else {
							%>
								<h5 class="text-danger">wishlistData empty !! please add products</h5>
							<%
							}
						%>

						
					</table><!-- End .table table-wishlist -->
	            	<div class="wishlist-share">
	            		<div class="social-icons social-icons-sm mb-2">
	            			<label class="social-label">Share on:</label>
	    					<a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
	    					<a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
	    					<a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
	    					<a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
	    					<a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
	    				</div><!-- End .soial-icons -->
	            	</div><!-- End .wishlist-share -->
            	</div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

	<!-- Connect Footer -->
		<%- include('../layouts/footbar-2') %>
		<!-- Connect Footer -->
     
	</div><!-- End .page-wrapper -->


    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

		<!--Connect Mobaile View-->
        <%- include('../layouts/mobileView.ejs') %>
		<!--Connect Mobaile View-->

   

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>


	<script>

		function removeFromWishlist(id){
			const wishlistId = id;
			console.log(id);

			fetch(`/removeFromWishlist?id=${id}`,{
				method:'get',
				headers:{'Content-Type':"application/json"}
			}
 			).then(res=>res.json).then((data)=>{
				if(data) {
					console.log('data reached');
					location.reload();
				}
			}
				
			)
		}
		
	</script>

<%- include('../layouts/footer') %>